body {
	background-color: white;
	font-size: 20px;
	font-family: Garamond, "Courier New", "Times New Roman"
}

p {
	text-align: center;
}

a {
	cursor: pointer;
}

h1 {
	text-align: center;
}

#main a:link, #main a:visited {
	color: #FFC600; 
	background-color: #C45824;
	text-decoration: none;
}

#main a:hover {
	border: 5px solid #FFC600;
	cursor: pointer;
}

#cazadores {
	width: 600px; 
	margin: 0 auto;
}

#cazadores a:link, #cazadores a:visited {
	color: #1C542D; 
	background-color: lightgreen;
	text-decoration: none;
}

#cazadores a:hover {
	border: 2px solid #1C542D;
}

#talento {
	width: 600px; 
	margin: 0 auto;
}

#talento a:link, #talento a:visited {
	color: teal;
	background-color: lightblue;
	text-decoration: none;
}

#talento a:hover {
	border: 2px solid teal;
}

#proyectos {
	width: 600px; 
	margin: 0 auto;
}

#proyectos a:link, #proyectos a:visited {
	color: #AA0144;
	background-color: #FFDCF4;
	text-decoration: none;
}

#proyectos a:hover {
	border: 2px solid #AA0144;
}

#contratos {
	width: 600px; 
	margin: 0 auto;
}

#contratos a:link, #contratos a:visited {
	color: #A485D6;
	background-color: #EBD6E6;
	text-decoration: none;
}

#contratos a:hover {
	border: 2px solid #A485D6;
}

#citas {
	width: 600px; 
	margin: 0 auto;
}

#citas a:link, #citas a:visited {
	color: #DE2E03;
	background-color: #FFA460;
	text-decoration: none;
}

#citas a:hover {
	border: 2px solid #DE2E03;
}

#habilidades {
	width: 600px; 
	margin: 0 auto;
}

#habilidades a:link, #habilidades a:visited {
	color: #4C6955;
	background-color: #5DBB82;
	text-decoration: none;
}

#habilidades a:hover {
	border: 2px solid #4C6955;
}
