<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="main.css">
    <script src="../clases.js"></script>
    <link rel="shortcut icon" href="../Imagenes/Cofre.png">
    <title>Eliminar contratos</title>
</head>

<!-- <body onload = "newContratoList()"> -->
<body>
    <h1>Dar contratos de baja</h1>
    <form action="#" method="post">
        <div id="search">
            <label for="contrato">Contrato a eliminar:</label>
            <select name="contrato" id="contrato" multiple>
                <!---->
                <% for(var i = 0; i < DATABASE.getContratos().length; i++) { %>
					<option value='<%= DATABASE.getContratos()[i].getID() %>'> <%= DATABASE.getContratos()[i].getNombre() %> </option>
				<% } %>
            </select>
	    <p>Para seleccionar varias opciones, presione CTRL (Windows) o COMMAND (Mac).</p>
        <!-- <input type="submit" onclick="eliminarContrato()" value="Eliminar contrato"> -->
        <input type="submit" value="Eliminar contrato">
        </div>
    </form>
</body>

</html>