<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../main.css">
    <link type="text/css" rel="stylesheet" href="main.css">
    <script src="../clases.js"></script>
    <link rel="shortcut icon" href="../Imagenes/Cofre.png">
    <title>Buscar contrato</title>
</head>

<body>
    <h1>Realizar consultas de contratos</h1>
    <div id="search">
        <form action="" method="">
            <label for="busqueda">Busca contratos:</label>
            <input type="text" name="query" id="query">
            <a href="/proyecto/buscar_proyecto.html"><input type="submit" value="Nueva búsqueda"></a>
        </form>
    </div>
    <div id="result">
        <% for(var j = 0; j < result.length; j++)
        { %>
            <hr>
            <p>Contrato: <%= result[j].getID() %></p>
            <p>Proyecto ID: <%= result[j].getProyectoID() %></p>
            <p>Talento ID: <%= result[j].getTalentoID() %></p>
            <p>Cazador ID: <%= result[j].getCazadorID() %></p>
        <% } %>
    </div>
</body>

</html>