<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="main.css">
    <script src="../clases.js"></script>
    <link rel="shortcut icon" href="../Imagenes/Cofre.png">
    <title>Eliminar proyecto</title>
</head>
<!-- <body onload = "newProyecto()"> -->
<body>
    <h1>Dar proyectos de baja</h1>
    <div id = "form">
	<form action="" method="post">
	        <label for="proyecto">Proyecto a eliminar:</label>
	        <select name="proyecto" id="proyecto" multiple>
	            <!---->
                <% for(var i = 0; i < DATABASE.getProyectos().length; i++) { %>
					<option value='<%= DATABASE.getProyectos()[i].getID() %>'> <%= DATABASE.getProyectos()[i].getNombre() %> </option>
				<% } %>
	        </select>
		<p>Para seleccionar varias opciones, presione CTRL (Windows) o COMMAND (Mac).</p>
        <!-- <input type="submit" onclick="eliminarProyecto()" value="Eliminar proyecto">	 -->
        <input type="submit" value="Eliminar proyecto">	
	</form>
    </div>
</body>
</html>